.form-inline
  - if form_property.object.new_record?
    = form_property.link_to_remove :class => "btn btn-mini" do
      %i.icon-minus
      Delete
  - else
    %label
      = form_property.check_box :_destroy
      Delete
  = form_property.input_field :name, :placeholder => :name, :class => "input-small"
  = form_property.input_field :description, :placeholder => :description, :class => "input-medium"
  = render_data_type_form(form_property, @doc)
  = "" # form_property.input_field :data_type, :as => :select, :collection => Parameter::DATA_TYPES, :class => "input-medium", :include_blank => "-- Data Types --"
  = form_property.input_field :allowable_values, :placeholder => "allow values", :class => "input-medium", :as => :string