%h1= @resource.name
.doc_info
  = render_list do |li|
    - li << "description: #{@resource.description}"

= link_to "Back", admin_doc_resources_path(@doc), :class => "btn"
= link_to edit_admin_doc_resource_path(@doc, @resource), :class => "btn" do
  %i.icon-pencil
  Edit

= link_to "Create Api", new_admin_doc_resource_api_path(@doc, @resource), :class => "btn btn-primary"    

%table.table.table-hover
  %thead
    %tr
      %th="#"
      %th="Method"
      %th="Path"
      %th.last=""
  %tbody
    - @resource.apis.each do |api|
      %tr
        %td= api.id
        %td= api.http_method
        %td= api.path
        %td.last
          = link_to edit_admin_doc_resource_api_path(@doc, @resource, api), :class => "btn btn-mini" do
            %i.icon-pencil
            Edit
          = link_to admin_doc_resource_api_path(@doc, @resource, api), :class => "btn btn-mini btn-danger", :method => :delete, :confirm => "confirm delete?" do
            %i.icon-white.icon-remove
            Delete
          = render :partial => "sort_buttons", :as => :button_urls, :object => api_button_urls(api)
          
  