- operation = form.object
.form-inputs
  = form.input :http_method, :as => :select, :collection => Operation::HTTP_METHODS
  = form.input :nickname
  = form.input :summary
  = form.input :note
  = form.input :response_class
  = render :partial => "nested_parameters", :object => form, :as => :form
.form-actions
  = form.submit :class => "btn btn-primary"
  = link_to "Cancel", admin_doc_api_operations_path(operation.api.doc, operation.api), :class => "btn"
