.form-inputs
  = form.input :name
  = form.input :description
  = form.input :api_version, :placeholder => "1.1.2"
  = form.input :base_path, :placeholder => "http://exmaple.com/api"
.form-actions
  = form.submit :class => "btn btn-primary"
  = link_to "Cancel", admin_docs_path, :class => "btn"
