= simple_form_for @doc, :url => admin_docs_path, :html => { :class => 'form-horizontal' } do |f|
  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :api_version, :placeholder => "1.1.2"
    = f.input :base_path, :placeholder => "http://exmaple.com/api"
  .form-actions
    = f.submit :class => "btn btn-primary"
    = link_to "Cancel", admin_docs_path, :class => "btn"
  