%h1
  = doc.name
  = link_to edit_admin_doc_path(doc), :class => "btn btn-mini" do
    %i.icon-pencil
.doc_info
  = render_list do |li|
    - li << "Preview: "+raw(link_to(doc.preview_link, doc.preview_link))
    - li << "Base path: #{doc.base_path}"
    - li << "description: #{doc.description}" if doc.description.present?
    - li << "version: #{doc.version}"
    - if doc.request_path.present?
      - li << "API testing url: #{doc.request_path}"
      - li << "API testing key: #{doc.api_key}" if doc.api_key.present?