%h1="Doc list"
= link_to "Create", new_admin_doc_path, :class => "btn btn-primary"    

%table.table.table-hover
  %thead
    %tr
      %th="#"
      %th="name"
      %th="description"
      %th="version"
      %th.last=""
  %tbody
    - @docs.each do |doc|
      %tr
        %td= doc.id
        %td= doc.name
        %td= doc.description
        %td= doc.version
        %td.last
          = link_to admin_doc_path(doc), :class => "btn btn-mini" do
            %i.icon-info-sign
            Show
          = link_to edit_admin_doc_path(doc), :class => "btn btn-mini" do
            %i.icon-pencil
            Edit
          = link_to admin_doc_path(doc), :class => "btn btn-mini btn-danger", :method => :delete, :confirm => "confirm delete?" do
            %i.icon-white.icon-remove
            Delete
  