%h1="Doc list"
= link_to_create "Create Doc", new_admin_doc_path

%table.table.table-hover
  %thead
    %tr
      %th="#"
      %th="name"
      %th="description"
      %th="version"
      %th.last=""
  %tbody
    - @docs.each do |doc|
      %tr
        %td= doc.id
        %td= link_to doc.name, admin_doc_path(doc)
        %td= doc.description
        %td= doc.version
        %td.last
          = link_to admin_doc_path(doc), :class => "btn btn-mini btn-danger", :method => :delete, :confirm => "confirm delete?" do
            %i.icon-white.icon-remove
            Delete