- api = form.object
.form-inputs
  = form.input :http_method, :as => :select, :collection => Api::HTTP_METHODS
  = form.input :path
  = form.input :summary
  = form.input :note
  = form.input :response_class
  .control-group
    %label.control-label= "Error Responses"
    .controls
      = render :partial => "nested_error_reponses", :object => form, :as => :form
  %h3="Parameters"
  .control-group
    = render :partial => "nested_parameters", :object => form, :as => :form
.form-actions
  = form.submit :class => "btn btn-primary"
  = link_to "Cancel", admin_doc_resource_apis_path(api.resource.doc, api.resource), :class => "btn"
