.edit_parameter
  = form.fields_for :error_responses do |form_error_response|
    = render :partial => "form_error_response", :object => form_error_response
.new_parameter
  = form.fields_for :error_responses, form.object.error_responses.build do |form_error_response|
    = render :partial => "form_error_response", :object => form_error_response
  = form.link_to_add :error_responses, :class => "btn btn-mini" do
    %i.icon-plus
    Add Error Response