%h1= @api.full_path
.doc_info
  = render_list do |li|
    - li << "description: #{@api.description}"

= link_to "Back", admin_doc_apis_path(@doc), :class => "btn"
= link_to edit_admin_doc_api_path(@doc, @api), :class => "btn" do
  %i.icon-pencil
  Edit